<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="net.niuniubao.ant.simuwang.mapper.SimuWangMapper">


    <insert id="insertFundListData" useGeneratedKeys="true" keyProperty="fundListId">
        <![CDATA[
        INSERT INTO simuwang_fund_list
        (fund_list_id,
        id,
        fund_id,
        fund_short_name,
        advisor_id,
        company_name,
        inception_date,
        manager_id,
        manager_name,
        nav,
        price_date,
        ret_ytd,
        ret_incep,
        ret_incep_a,
        initial_unit_value,
        data_version,
        proc_status)
        VALUES
        (#{fundListId},
        #{id},
        #{fund_id},
        #{fund_short_name},
        #{advisor_id},
        #{company_name},
        #{inception_date},
        #{manager_id},
        #{manager_name},
        #{nav},
        #{price_date},
        #{ret_ytd},
        #{ret_incep},
        #{ret_incep_a},
        #{initial_unit_value},
        #{dataVersion},
        #{procStatus})
        ]]>
    </insert>

	<!--插入基金管理人列表信息-->
    <insert id="insertManagerListData" useGeneratedKeys="true" keyProperty="managerList">
        <![CDATA[
        INSERT INTO simuwang_manager_list (
        	manager_list_id ,
        	id ,
        	fund_manager_id ,
        	personnel_name ,
        	company_id ,
        	company_short_name ,
        	manger_cnts ,
        	fund_id ,
        	fund_short_name ,
        	ret_incep ,
        	initial_unit_value,
            data_version,
            proc_status
        ) VALUES (
        	#{manager_list_id} ,
        	#{id} ,
        	#{fund_manager_id} ,
        	#{personnel_name} ,
        	#{company_id} ,
        	#{company_short_name} ,
        	#{manger_cnts} ,
        	#{fund_id} ,
        	#{fund_short_name} ,
        	#{ret_incep} ,
        	#{initial_unit_value},
            #{dataVersion},
            #{procStatus})
    ]]>
    </insert>



    <!--插入基金详情信息-->
    <insert id="insertFund" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO simuwang_fund (
        	id ,
        	fund_id ,
        	fund_name ,
        	record_code ,
        	stutas ,
        	show_logo ,
        	current_profit ,
        	total_profit ,
        	lastest_per_value ,
        	total_per_value ,
        	company ,
        	lock_up_period ,
        	open_day ,
        	subscription_start_point ,
        	plus_start_point ,
        	subscription_rate ,
        	redemption_rate ,
        	precautious_line ,
        	stop_line ,
        	investment_adviser ,
        	fund_management ,
        	management_fee_rate ,
        	custodian ,
        	brokerage_house ,
        	futures_broker ,
        	create_date ,
        	initial_size ,
        	duration_of_inverse ,
        	isgraded ,
        	if_umbellate_fund ,
        	product_type ,
        	investment_strategy ,
        	sub_investment,
        	data_version
        ) VALUES (
        	#{id} ,
        	#{fundId} ,
        	#{fundName} ,
        	#{recordCode} ,
        	#{stutas} ,
        	#{showLogo} ,
        	#{currentProfit} ,
        	#{totalProfit} ,
        	#{lastestPerValue} ,
        	#{totalPerValue} ,
        	#{company} ,
        	#{lockUpPeriod} ,
        	#{openDay} ,
        	#{subscriptionStartPoint} ,
        	#{plusStartPoint} ,
        	#{subscriptionRate} ,
        	#{redemptionRate} ,
        	#{precautiousLine} ,
        	#{stopLine} ,
        	#{investmentAdviser} ,
        	#{fundManagement} ,
        	#{managementFeeRate} ,
        	#{custodian} ,
        	#{brokerageHouse} ,
        	#{futuresBroker} ,
        	#{createDate} ,
        	#{initialSize} ,
        	#{durationOfInverse} ,
        	#{isgraded} ,
        	#{ifUmbellateFund} ,
        	#{productType} ,
        	#{investmentStrategy} ,
        	#{subInvestment},
        	#{dataVersion}
        )
    ]]>
    </insert>

<!--插入基金公司列表信息-->
    <insert id="insertCompanyListData" useGeneratedKeys="true" keyProperty="companyList">
        <![CDATA[
        INSERT INTO simuwang_company_list (
        	id ,
        	end_date ,
        	company_id ,
        	company_name ,
        	company_short_name ,
        	manage_cnts ,
        	fund_id ,
        	fund_name ,
        	fund_short_name ,
        	register_number ,
        	strategy ,
        	fund_type ,
        	city ,
        	fund_managers_id ,
        	fund_managers ,
        	inception_date ,
        	inception_year ,
        	initial_unit_value ,
        	ret_incep ,
        	data_version ,
        	proc_status
        ) VALUES (
        	#{id} ,
        	#{end_date} ,
        	#{company_id} ,
        	#{company_name} ,
        	#{company_short_name} ,
        	#{manage_cnts} ,
        	#{fund_id} ,
        	#{fund_name} ,
        	#{fund_short_name} ,
        	#{register_number} ,
        	#{strategy} ,
        	#{fund_type} ,
        	#{city} ,
        	#{fund_managers_id} ,
        	#{fund_managers} ,
        	#{inception_date} ,
        	#{inception_year} ,
        	#{initial_unit_value} ,
        	#{ret_incep} ,
        	#{dataVersion} ,
        	#{procStatus}
        )
    ]]>
    </insert>

    <update id="updateFundListStatus">
        UPDATE simuwang_fund_list SET proc_status=#{procStatus} WHERE fund_id=#{fund_id}
    </update>

    <resultMap id="fundListMap" type="net.niuniubao.ant.simuwang.model.JsonFundData">
        <result property="fundListId" column="fund_list_id"/>
        <result property="fund_id" column="fund_id"/>
        <result property="dataVersion" column="data_version"/>
    </resultMap>

    <select id="selectFundIdNotProc" resultMap="fundListMap">
        SELECT fund_list_id,fund_id,data_version FROM simuwang_fund_list WHERE proc_status=#{procStatus}  ORDER BY fund_id  LIMIT 20
    </select>


	<update id="updateManagerListStatus">
		UPDATE simuwang_manager_list SET proc_status=#{procStatus} WHERE fund_manager_id=#{fund_manager_id}
	</update>

	<resultMap id="managerListMap" type="net.niuniubao.ant.simuwang.model.JsonManagerData">
		<result property="manager_list_id" column="manager_list_id"/>
		<result property="fund_manager_id" column="fund_manager_id"/>
		<result property="dataVersion" column="data_version"/>
	</resultMap>

	<select id="selectManagerIdNotProc" resultMap="managerListMap">
		SELECT manager_list_id,fund_manager_id,data_version FROM simuwang_manager_list WHERE proc_status=#{procStatus}  ORDER BY fund_manager_id  LIMIT 20
	</select>
<!--插入基金经理详细信息-->
	<insert id="insertManager" useGeneratedKeys="true" keyProperty="fundManagerId">
		<![CDATA[
        INSERT INTO simu_wang_manager (
        	fund_manager_id ,
        	manager_id ,
        	manager_name ,
        	company ,
        	company_url ,
        	duty ,
        	work_years ,
        	product_quantity ,
        	education ,
        	career_background ,
        	strategy ,
        	total_average_profit ,
        	current_average_profit ,
        	intro ,
        	presentation ,
        	team_intro ,
        	data_version
        ) VALUES (
        	#{fundManagerId} ,
        	#{managerId} ,
        	#{managerName} ,
        	#{company} ,
        	#{companyUrl} ,
        	#{duty} ,
        	#{workYears} ,
        	#{productQuantity} ,
        	#{education} ,
        	#{careerBackground} ,
        	#{strategy} ,
        	#{totalAverageProfit} ,
        	#{currentAverageProfit} ,
        	#{intro} ,
        	#{presentation} ,
        	#{teamIntro} ,
        	#{dataVersion}
        )
    ]]>
	</insert>


	<update id="updateCompanyListStatus">
		UPDATE simuwang_company_list SET proc_status=#{procStatus} WHERE company_id=#{company_id}
	</update>

	<resultMap id="companyListMap" type="net.niuniubao.ant.simuwang.model.JsonCompanyData">
		<result property="id" column="id"/>
		<result property="company_id" column="company_id"/>
		<result property="dataVersion" column="data_version"/>
	</resultMap>

	<select id="selectCompanyIdNotProc" resultMap="companyListMap">
		SELECT id,company_id,data_version FROM simuwang_company_list WHERE proc_status=#{procStatus}  ORDER BY company_id  LIMIT 20
	</select>

	<!--插入基金公司详细信息-->
	<insert id="insertCompany" useGeneratedKeys="true" keyProperty="companyListMap">
		 <![CDATA[
        INSERT INTO simuwang_company (
        	id ,
        	company_id ,
        	company_name ,
        	core_leader ,
        	date ,
        	registered_number ,
        	fund_number ,
        	address ,
        	total_average_profit ,
        	current_average_profit ,
        	presentation ,
        	strategy ,
        	fund_manager ,
        	rep_product ,
        	data_version
        ) VALUES (
        	#{id} ,
        	#{companyId} ,
        	#{companyName} ,
        	#{coreLeader} ,
        	#{date} ,
        	#{registeredNumber} ,
        	#{fundNumber} ,
        	#{address} ,
        	#{totalAverageProfit} ,
        	#{currentAverageProfit} ,
        	#{presentation} ,
        	#{strategy} ,
        	#{fundManager} ,
        	#{repProduct} ,
        	#{dataVersion}
        )
    ]]>
	</insert>


</mapper>

